# Horrible hack
# These files get modified on builds
# But needed to check them in anyway
#*nachos/code/filesys/Makefile
#*nachos/code/network/Makefile
#*nachos/code/threads/Makefile
#*nachos/code/userprog/Makefile
#*nachos/code/test/Makeflle
#*nachos/code/vm/Makefile

# These were the newly created files
nachos/code/bin/coff2noff
nachos/code/filesys/nachos
nachos/code/network/nachos
nachos/code/test/forkjoin
nachos/code/test/forkjoin.coff
nachos/code/test/halt
nachos/code/test/halt.coff
nachos/code/test/matmult
nachos/code/test/matmult.coff
nachos/code/test/printtest
nachos/code/test/printtest.coff
nachos/code/test/shell
nachos/code/test/shell.coff
nachos/code/test/sort
nachos/code/test/sort.coff
nachos/code/test/testexec
nachos/code/test/testexec.coff
nachos/code/test/testregPA
nachos/code/test/testregPA.coff
nachos/code/test/testyield
nachos/code/test/testyield.coff
nachos/code/test/vectorsum
nachos/code/test/vectorsum.coff
nachos/code/test/forkjoin_hard
nachos/code/test/forkjoin_hard.coff
nachos/code/test/testloop
nachos/code/test/testloop.coff
nachos/code/test/testloop1
nachos/code/test/testloop1.coff
nachos/code/test/testloop2
nachos/code/test/testloop2.coff
nachos/code/test/testloop3
nachos/code/test/testloop3.coff
nachos/code/test/testloop4
nachos/code/test/testloop4.coff
nachos/code/test/testloop5
nachos/code/test/testloop5.coff
nachos/code/test/testlooplong
nachos/code/test/testlooplong.coff
nachos/code/threads/nachos
nachos/code/userprog/nachos
nachos/code/vm/nachos
nachos/code/userprog/*.o
nachos/code/threads/*.o
nachos/code/machine/*.o
mips-1386-xgcc/
